
services:
  backend:
    build:
      context: ./Backend
    container_name: expense-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./Backend/.env
    environment:
      NODE_ENV: production

  frontend:
    build:
      context: ./Frontend
    container_name: expense-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
